@import 'variables';

h1 {
    color: red;
}
.card-course-item {
    margin-top: 50px;
}
.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 40%;
    margin-right: 5px;
}

.checkbox-select-all-options {
    width: 180px;
    margin: 0 16px;
}
